
<! DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "style", :media => "all" %>
<body>
<container class="cajas">
<div class="contactos">
    <ul>
    <li>
    <h5> Contactos</h5>
    <p>andonisanchez870@gmail.com</p>
    </li>
    <li>
    <p>+34 691015421</p>
    </li>
    </ul>

</div>
<div class="formulaios">
<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
  </div>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</div>
</container>
<footer class="Final">
  <div class="FinalT">
    <h1>Espero que te guste</h1>
  </div>
</footer>
</body>
</html>