<! DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "style", :media => "all" %>

<body>
<header class="header">
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Mi Pequeño Blog</p>
  </blockquote>
  <figcaption>
  Por diversión y por aprender
  </figcaption>
</figure>
</header>
<div class="titulo">
<h1>Informacion sobre mi</h1>
</div>
<container class="contain">
<div class="img1"></div>
  <div class="img2"> 
  <h1> Gracias por el efecto </h1>
  <p>Aqui!</p>
  </div>
</container>
  <div class="card">
  <div class="card-body">
    <h5 class="card-title">¿Que paso en 1999?</h5>
    <p class="card-text">Quitando errores informaticos que pudo colapsar hospitales, tornados F5 en Oklahoma, el estreno de una esponja llamada Bob y apellidada Esponja o el primer capitulo en emision de una de mis series favoritas llamada One piece... Pues naci yo.</p>
    <p class="card-text"><small class="text-muted">Por Andoni Sánchez Marigil</small></p>
  </div>
</div>
<container class="compañeros">
  <div class="fotoc">
  
  </div>
  <div class="textoc"> 
    <h1> Mi compañia</h1>
    <p> Estos seres son mi compañia desde que me despierto hasta que me duermo. Por tranquilos que sean, dan guerra, pero esoo no significa que no se les quiera. Me hacen mejorar cada dia como persona y ya suficiente, que estamos hablando de mi, no de ellos. </p>
    <p><small>Bromas de mi hacia ellos</small></p>
  </div>
  <div class="fotoc2">
  </div>
</container>
<footer class="Final">
  <div class="FinalT">
    <h1>Espero que te guste</h1>
  </div>
</footer>
</body>
</html>