<! DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "style", :media => "all" %>
<body>
<container class="PreciosC">
  <div class="PreciosD">
    <h1>Precios</h1>
    <p> Estos serian los precios dependiendo de los productos contratados.</p>
  </div>
</container>
<container class="cardPd">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">5,67€/mes</h5>
    <p class="card-text">Este pack consta de ayudar al blog + Estar tu pudiendo escribir de cualquier tema por unas semanas.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">15,67€/mes</h5>
    <p class="card-text">Esta promocion te da muchas mas cosas que la anterior!! Entraras a sorteos durante un año y encima podras opinar de cualquier cosa sobre esta pagina e incluso cambiar cosas.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">20,67€</h5>
    <p class="card-text">Aqui seras el rey. Ya esta, no hay mas que decirte.</p>
  </div>
</div>
</container>

<footer class="Final">
  <div class="FinalT">
    <h1>Espero que te guste</h1>
  </div>
</footer>
</body>
</html>
